@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="col-12">
        <img src ="~/Imagen/imgRazorPage.jpg" class="img-fluid"/>
        <p><font size="6"> BY: Alberto Eguia, Daniel Valdes y Nicolas Somoza </font> </p>
    </div>

</div>
